{{cc = "DMI"}} {{v = character().get_cc(cc) if character().cc_exists(cc) else False}} {{character().set_cc(cc, 0) if v else ''}} {{"adv -f 'DMI| This advantage is brought to you by a DM Inspiration! Use it wisely'" if v else f""" -f "Liar|Sorry {name} I cannot let you do that. You need a DMI for this function" """}} {{f""" -f "{cc}|{character().cc_str(cc) if character().cc_exists(cc) else 'This counter does not exist.'}" """}}